<a href="https://colab.research.google.com/github/CristobalSVM/Aprendizaje-Automatico/blob/main/Tarea_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Carga de base de datos

In [21]:
#Importar libreria para abrir xlsx o csv.

import pandas as pd

In [22]:
#Acceso a google drive
from google.colab import files

In [23]:

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
#Carga de base

bd_BR = "/content/drive/MyDrive/Tarea 2 BD_BR.xlsx"
df = pd.read_excel(bd_BR)
df

,id,fecha,activo,vista,plazo,prestamos interbancarios,sucursales,cajeros,tarjetas
0,1.0,201612.0,9.748517e+10,2.922565e+10,3.542812e+10,6.761324e+09,147.0,274.0,75627.0
1,2.0,201701.0,9.912669e+10,2.913157e+10,3.661224e+10,6.610840e+09,149.0,283.0,76116.0
2,3.0,201702.0,9.860860e+10,2.834034e+10,3.770951e+10,6.352306e+09,149.0,282.0,77057.0
3,4.0,201703.0,9.858651e+10,2.855841e+10,3.813770e+10,6.238445e+09,149.0,284.0,78379.0
4,5.0,201704.0,9.731282e+10,2.946925e+10,3.867970e+10,6.377189e+09,149.0,283.0,79406.0
...,...,...,...,...,...,...,...,...,...
56,57.0,202108.0,1.601921e+11,6.032032e+10,4.633195e+10,4.434798e+09,169.0,351.0,205704.0
57,58.0,202109.0,1.600526e+11,6.118401e+10,4.541217e+10,4.333770e+09,170.0,364.0,212165.0
58,59.0,202110.0,1.616247e+11,6.153808e+10,4.461547e+10,4.450421e+09,157.0,349.0,219334.0
59,60.0,202111.0,1.643413e+11,6.303590e+10,4.425472e+10,4.662185e+09,158.0,360.0,227138.0
60,61.0,202112.0,1.627420e+11,6.189489e+10,4.497188e+10,4.796986e+09,173.0,378.0,229946.0

# Tipo de variable

In [26]:
convertir = {'id': int,
                'fecha': int,
                'sucursales': int,
                'cajeros': int,
                'tarjetas': int}  
  
df = df.astype(convertir)  
print(df.dtypes)

id                            int64
fecha                         int64
activo                      float64
vista                       float64
plazo                       float64
prestamos interbancarios    float64
sucursales                    int64
cajeros                       int64
tarjetas                      int64
dtype: object

# Crear, modificar o eliminar columnas

In [27]:
# modificar columnas fecha, activo, vista, plazo, prestamos interbancarios para tener unidades de millones de pesos
df['activo'] = df['activo']/1000000 
df['vista'] = df['vista']/1000000
df['plazo'] = df['plazo']/1000000
df['prestamos interbancarios'] = df['prestamos interbancarios']/1000000
df

,id,fecha,activo,vista,plazo,prestamos interbancarios,sucursales,cajeros,tarjetas
0,1,201612,97485.166229,29225.647457,35428.115940,6761.324060,147,274,75627
1,2,201701,99126.687818,29131.569781,36612.242954,6610.839888,149,283,76116
2,3,201702,98608.600975,28340.337574,37709.507528,6352.305520,149,282,77057
3,4,201703,98586.509106,28558.414751,38137.700755,6238.444715,149,284,78379
4,5,201704,97312.822576,29469.246336,38679.704639,6377.189215,149,283,79406
...,...,...,...,...,...,...,...,...,...
56,57,202108,160192.052221,60320.321810,46331.947444,4434.797863,169,351,205704
57,58,202109,160052.609554,61184.005188,45412.168111,4333.770086,170,364,212165
58,59,202110,161624.690860,61538.079059,44615.468429,4450.421055,157,349,219334
59,60,202111,164341.303018,63035.903530,44254.716609,4662.184942,158,360,227138
60,61,202112,162741.963452,61894.888487,44971.875448,4796.986439,173,378,229946

In [28]:
# Crear columna captacion = vista + plazo + prestamos interbancarios para tener las proporciones de estas mismas
captacion = ['vista', 'plazo', 'prestamos interbancarios']

df_captacion = df[captacion]
df['captacion'] = df_captacion.sum(axis=1)
df['% vista'] = df_captacion['vista']/df_captacion.sum(axis=1)
df['% plazo'] = df_captacion['plazo']/df_captacion.sum(axis=1)
df['% prestamos interbancarios'] = df_captacion['prestamos interbancarios']/df_captacion.sum(axis=1)

df

,id,fecha,activo,vista,plazo,prestamos interbancarios,sucursales,cajeros,tarjetas,captacion,% vista,% plazo,% prestamos interbancarios
0,1,201612,97485.166229,29225.647457,35428.115940,6761.324060,147,274,75627,71415.087457,0.409236,0.496087,0.094676
1,2,201701,99126.687818,29131.569781,36612.242954,6610.839888,149,283,76116,72354.652623,0.402622,0.506011,0.091367
2,3,201702,98608.600975,28340.337574,37709.507528,6352.305520,149,282,77057,72402.150622,0.391429,0.520834,0.087736
3,4,201703,98586.509106,28558.414751,38137.700755,6238.444715,149,284,78379,72934.560221,0.391562,0.522903,0.085535
4,5,201704,97312.822576,29469.246336,38679.704639,6377.189215,149,283,79406,74526.140190,0.395422,0.519009,0.085570
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,202108,160192.052221,60320.321810,46331.947444,4434.797863,169,351,205704,111087.067117,0.543000,0.417078,0.039922
57,58,202109,160052.609554,61184.005188,45412.168111,4333.770086,170,364,212165,110929.943385,0.551555,0.409377,0.039068
58,59,202110,161624.690860,61538.079059,44615.468429,4450.421055,157,349,219334,110603.968543,0.556382,0.403380,0.040237
59,60,202111,164341.303018,63035.903530,44254.716609,4662.184942,158,360,227138,111952.805081,0.563058,0.395298,0.041644
60,61,202112,162741.963452,61894.888487,44971.875448,4796.986439,173,378,229946,111663.750374,0.554297,0.402744,0.042959

In [29]:
# Eliminar columna id
df = df.drop(['id'],axis=1)

In [114]:
df

,fecha,activo,vista,plazo,prestamos interbancarios,sucursales,cajeros,tarjetas,captacion,% vista,% plazo,% prestamos interbancarios
0,201612,97485.166229,29225.647457,35428.115940,6761.324060,147,274,75627,71415.087457,0.409236,0.496087,0.094676
1,201701,99126.687818,29131.569781,36612.242954,6610.839888,149,283,76116,72354.652623,0.402622,0.506011,0.091367
2,201702,98608.600975,28340.337574,37709.507528,6352.305520,149,282,77057,72402.150622,0.391429,0.520834,0.087736
3,201703,98586.509106,28558.414751,38137.700755,6238.444715,149,284,78379,72934.560221,0.391562,0.522903,0.085535
4,201704,97312.822576,29469.246336,38679.704639,6377.189215,149,283,79406,74526.140190,0.395422,0.519009,0.085570
...,...,...,...,...,...,...,...,...,...,...,...,...
56,202108,160192.052221,60320.321810,46331.947444,4434.797863,169,351,205704,111087.067117,0.543000,0.417078,0.039922
57,202109,160052.609554,61184.005188,45412.168111,4333.770086,170,364,212165,110929.943385,0.551555,0.409377,0.039068
58,202110,161624.690860,61538.079059,44615.468429,4450.421055,157,349,219334,110603.968543,0.556382,0.403380,0.040237
59,202111,164341.303018,63035.903530,44254.716609,4662.184942,158,360,227138,111952.805081,0.563058,0.395298,0.041644
60,202112,162741.963452,61894.888487,44971.875448,4796.986439,173,378,229946,111663.750374,0.554297,0.402744,0.042959

# Filtrar registros

In [30]:
# filtrar por meses donde la captacion (vista+plazo+interbancarios) es mayor o igual a 100 mil millones

df_100m = df['captacion'] >= 100000
df[df_100m]

,fecha,activo,vista,plazo,prestamos interbancarios,sucursales,cajeros,tarjetas,captacion,% vista,% plazo,% prestamos interbancarios
29,201905,135567.543516,36637.836872,58332.262245,5591.143748,159,304,120131,100561.242865,0.364334,0.580067,0.055599
30,201906,133779.885989,37701.554214,60229.413359,6513.527022,159,301,122334,104444.494595,0.360972,0.576664,0.062364
31,201907,136633.388870,38119.102434,59898.372190,5577.236071,159,307,124034,103594.710695,0.367964,0.578199,0.053837
32,201908,132250.263583,38210.691539,60319.647485,5633.521941,159,309,126902,104163.860965,0.366833,0.579084,0.054083
33,201909,133110.792548,38326.464263,59923.207864,6125.273701,161,308,129020,104374.945828,0.367200,0.574115,0.058685
34,201910,133315.533402,39141.186719,57365.729406,6241.899761,161,307,131696,102748.815886,0.380941,0.558310,0.060749
35,201911,134400.482395,39735.560875,58115.148507,6297.539925,161,310,133263,104148.249307,0.381529,0.558004,0.060467
36,201912,135677.300047,39972.335145,59770.783803,6256.601297,161,308,135197,105999.720245,0.377098,0.563877,0.059025
37,202001,135970.808993,38641.506939,60062.056450,5930.396386,162,309,139896,104633.959775,0.369302,0.574021,0.056678
38,202002,138096.493100,40571.782451,60584.039632,5801.907491,162,309,150450,106957.729574,0.379325,0.566430,0.054245
39,202003,142909.246254,44923.668805,58455.468898,7920.798076,162,308,164911,111299.935779,0.403627,0.525207,0.071166
40,202004,138926.990741,45015.601132,57901.642550,8273.732578,162,300,170629,111190.976260,0.404849,0.520740,0.074410
41,202005,138024.210446,43436.132542,54369.422715,8318.547999,162,303,171023,106124.103256,0.409296,0.512319,0.078385
42,202006,141448.110792,44871.031361,54254.239112,7959.598428,163,307,176242,107084.868901,0.419023,0.506647,0.074330
43,202007,140859.744227,45031.125806,52123.441813,7881.078916,164,309,180230,105035.646535,0.428722,0.496245,0.075032
44,202008,140444.909350,46237.057074,50648.710845,7983.557925,164,316,184608,104869.325844,0.440902,0.482970,0.076129
45,202009,141465.220252,46528.799020,51160.652133,7413.541687,164,326,186052,105102.992840,0.442697,0.486767,0.070536
46,202010,146018.373444,47707.301865,50481.613072,5708.536738,166,330,187526,103897.451675,0.459177,0.485879,0.054944
47,202011,141653.445735,48426.814675,50425.545598,5448.172044,166,332,182895,104300.532317,0.464301,0.483464,0.052235
48,202012,144391.467030,48212.935226,51663.675674,5461.141312,166,336,182882,105337.752212,0.457699,0.490457,0.051844
49,202101,144313.642580,50409.616265,48953.855562,5326.061011,166,331,183305,104689.532838,0.481515,0.467610,0.050875
50,202102,143682.405534,52580.632848,48517.244108,4923.157966,166,340,183000,106021.034922,0.495945,0.457619,0.046436
51,202103,149560.420089,53464.541736,48376.932362,4786.970797,166,340,182969,106628.444895,0.501410,0.453696,0.044894
52,202104,151559.010643,57032.459354,45007.398863,4603.040734,166,340,182703,106642.898951,0.534798,0.422038,0.043163
53,202105,152381.545079,56507.204865,46600.272877,4517.218019,166,344,184326,107624.695761,0.525039,0.432989,0.041972
54,202106,155791.032371,58753.447324,47605.562899,4457.070698,168,348,191990,110816.080921,0.530189,0.429591,0.040220
55,202107,160360.139436,60703.539405,44292.602184,4417.037728,169,345,198817,109413.179317,0.554810,0.404820,0.040370
56,202108,160192.052221,60320.321810,46331.947444,4434.797863,169,351,205704,111087.067117,0.543000,0.417078,0.039922
57,202109,160052.609554,61184.005188,45412.168111,4333.770086,170,364,212165,110929.943385,0.551555,0.409377,0.039068
58,202110,161624.690860,61538.079059,44615.468429,4450.421055,157,349,219334,110603.968543,0.556382,0.403380,0.040237
59,202111,164341.303018,63035.903530,44254.716609,4662.184942,158,360,227138,111952.805081,0.563058,0.395298,0.041644
60,202112,162741.963452,61894.888487,44971.875448,4796.986439,173,378,229946,111663.750374,0.554297,0.402744,0.042959

# Crear subconjuntos

In [34]:
#Subconjunto de cierres de año
n = [0,1,2,3,4,5]
dic = []
for i in n:
    indice_mes=(i*12)
    dic.append(df['fecha'][indice_mes])

In [152]:
df_dic = df[df.fecha.isin(dic)]
df_dic

,fecha,activo,vista,plazo,prestamos interbancarios,sucursales,cajeros,tarjetas,captacion,% vista,% plazo,% prestamos interbancarios
0,201612,97485.166229,29225.647457,35428.115940,6761.324060,147,274,75627,71415.087457,0.409236,0.496087,0.094676
12,201712,108122.087084,33022.271661,45717.358302,6230.319428,150,274,122739,84969.949391,0.388635,0.538041,0.073324
24,201812,124028.442744,35881.289543,53054.566286,5653.940384,158,298,109881,94589.796213,0.379336,0.560891,0.059773
36,201912,135677.300047,39972.335145,59770.783803,6256.601297,161,308,135197,105999.720245,0.377098,0.563877,0.059025
48,202012,144391.467030,48212.935226,51663.675674,5461.141312,166,336,182882,105337.752212,0.457699,0.490457,0.051844
60,202112,162741.963452,61894.888487,44971.875448,4796.986439,173,378,229946,111663.750374,0.554297,0.402744,0.042959

# Crear grupos

In [61]:
#Grupos por año y semestre
n = [1,2,3,4,5,6]
S1_2017 = []
S2_2017 = []
S1_2018 = []
S2_2018 = []
S1_2019 = []
S2_2019 = []
S1_2020 = []
S2_2020 = []
S1_2021 = []
S2_2021 = []

In [62]:
for i in n:
   S1_2017.append(df['fecha'][i])
   S2_2017.append(df['fecha'][i+6])
   S1_2018.append(df['fecha'][i+12])
   S2_2018.append(df['fecha'][i+18])
   S1_2019.append(df['fecha'][i+24])
   S2_2019.append(df['fecha'][i+30])
   S1_2020.append(df['fecha'][i+36])
   S2_2020.append(df['fecha'][i+42])
   S1_2021.append(df['fecha'][i+48])
   S2_2021.append(df['fecha'][i+54])

In [63]:

 df[df.fecha.isin(S1_2017)]
 df[df.fecha.isin(S2_2017)]
 df[df.fecha.isin(S1_2018)]
 df[df.fecha.isin(S2_2018)]
 df[df.fecha.isin(S1_2019)]
 df[df.fecha.isin(S2_2019)]
 df[df.fecha.isin(S1_2020)]
 df[df.fecha.isin(S2_2020)]
 df[df.fecha.isin(S1_2021)]
 df[df.fecha.isin(S2_2021)]

[201701, 201702, 201703, 201704, 201705, 201706]

In [85]:
df_2017_s1 = df[df.fecha.isin(S1_2017)]
df_2017_s1['semestre']=1
df_2017_s1
df_2017_s2 = df[df.fecha.isin(S2_2017)]
df_2017_s2['semestre']=2
df_2017_s2
df_2018_s1 = df[df.fecha.isin(S1_2018)]
df_2018_s1['semestre']=1
df_2018_s1
df_2018_s2 = df[df.fecha.isin(S2_2018)]
df_2018_s2['semestre']=2
df_2018_s2
df_2019_s1 = df[df.fecha.isin(S1_2019)]
df_2019_s1['semestre']=1
df_2019_s1
df_2019_s2 = df[df.fecha.isin(S2_2019)]
df_2019_s2['semestre']=2
df_2019_s2
df_2020_s1 = df[df.fecha.isin(S1_2020)]
df_2020_s1['semestre']=1
df_2020_s1
df_2020_s2 = df[df.fecha.isin(S2_2020)]
df_2020_s2['semestre']=2
df_2020_s2
df_2021_s1 = df[df.fecha.isin(S1_2021)]
df_2021_s1['semestre']=1
df_2021_s1
df_2021_s2 = df[df.fecha.isin(S2_2021)]
df_2021_s2['semestre']=2
df_2021_s2

<ipython-input-85-9bc383a05442>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017_s1['semestre']=1
<ipython-input-85-9bc383a05442>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2017_s2['semestre']=2
<ipython-input-85-9bc383a05442>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018_s1['semestre']=1
<ipython-input-85-9bc383a05442>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2018_s2['semestre']=2
<ipython-input-85-9bc383a05442>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019_s1['semestre']=1
<ipython-input-85-9bc383a05442>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019_s2['semestre']=2
<ipython-input-85-9bc383a05442>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_s1['semestre']=1
<ipython-input-85-9bc383a05442>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020_s2['semestre']=2
<ipython-input-85-9bc383a05442>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021_s1['semestre']=1
<ipython-input-85-9bc383a05442>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2021_s2['semestre']=2

,fecha,activo,vista,plazo,prestamos interbancarios,sucursales,cajeros,tarjetas,captacion,% vista,% plazo,% prestamos interbancarios,semestre
55,202107,160360.139436,60703.539405,44292.602184,4417.037728,169,345,198817,109413.179317,0.554810,0.404820,0.040370,2
56,202108,160192.052221,60320.321810,46331.947444,4434.797863,169,351,205704,111087.067117,0.543000,0.417078,0.039922,2
57,202109,160052.609554,61184.005188,45412.168111,4333.770086,170,364,212165,110929.943385,0.551555,0.409377,0.039068,2
58,202110,161624.690860,61538.079059,44615.468429,4450.421055,157,349,219334,110603.968543,0.556382,0.403380,0.040237,2
59,202111,164341.303018,63035.903530,44254.716609,4662.184942,158,360,227138,111952.805081,0.563058,0.395298,0.041644,2
60,202112,162741.963452,61894.888487,44971.875448,4796.986439,173,378,229946,111663.750374,0.554297,0.402744,0.042959,2